@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --primary: #495E57;
}



body {
  margin: 0;
  font-family: "Karla", sans-serif, 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.all-none {
  all: unset !important;
}

.nav-link {
  font-size: .8rem !important;
  font-weight: 600 !important;
}

.text-markazi {
  font-family: 'Markazi Text', sans-serif !important;
}

.primary-bg {
  background-color: var(--primary) !important;
}

.secondary-yellow {
  color: #C3A510 !important;
}

.yellow-btn {
  background-color: #face14 !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
}

.yellow-btn:hover {
  background-color: yellow !important;
}

.green-btn{
  color: #185f47 !important;
}

.green-btn:hover{
  color: #24946f !important;
}

.hero-bg {
  background: linear-gradient(to bottom, #495E57 70%, #ffffff 30%) !important;
}

.specialities-img {
  max-height: 150px !important;
  object-fit: cover;
}

.image-container {
  aspect-ratio: 5.5/6;
  overflow: hidden;
}


.card-body {
  background-color: #EDEFEE;
}

.card-text{
  color: rgb(60, 60, 60);
  line-height: 1.4;
  font-size: 14px !important;
  font-weight: 400;
}

.price{
  font-size: 14px !important;
  color: #fbdabb !important;
}

.cursor-pointer{
  cursor: pointer !important;
}

::-webkit-scrollbar {
  background-color: #d2d2d2;
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #495E57;
  border-radius: 8px;
  border: 4px solid #d2d2d2;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #354b45;
}